@model CategoryModel

@using (Html.BeginForm("Create", "Category"))
{
    <div asp-validation-summary="All" class="text-danger"></div>
    <label asp-for="CategoryName"></label>
    <input asp-for="CategoryName" />
    <span asp-validation-for="CategoryName" class="text-danger"></span>
    <span class="text-danger">@Html.ValidationMessage("DuplicateNameError")</span>
    <br />
    <input type="submit" value="Create" />
}