@model CategoryModel

@using (Html.BeginForm("Edit", "Category"))
{
    <div>
        <label asp-for="CategoryName"></label>
        <input asp-for="CategoryName" />
        <span asp-validation-for="CategoryName" class="text-danger"></span>
        <span class="text-danger">@Html.ValidationMessage("DuplicateNameError")</span>
        @Html.HiddenFor(c => c.Id)

        <br />
        <input type="submit" class="btn btn-primary" value="Edit" />
    </div>
}