@model List<CategoryModel>

<div>
    @Html.ActionLink("Create category", "Create")
</div>

<br />

<div>
    <table>
        <tr>
            <th>
                Categories
            </th>
        </tr>
    </table>
</div>

<div>
    <table width="30%">
        @foreach (var category in Model)
        {
            <tr>
                <td>
                    @category.CategoryName
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id=@category.Id>Edit</a>
                </td>
                <td>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id=@category.Id>Delete</a>
                </td>
            </tr>
        }
    </table>
</div>