@model Library.Web.ViewModels.CreateLibraryItemViewModel

<div>
    <select>
        @*
            // I use a comparison in the "selected" to remain the choosen value after posting.
        *@
        <option value="default" selected="@(Model.MediaItemCategory == MediaItemCategory.NonDigitalMedia)">Choose what type of media item to create</option>
        <option value="digitalMedia" selected="@(Model.MediaItemCategory == MediaItemCategory.DigitalMedia)">Digital Media</option>
        <option value="nonDigitalMedia" selected="@(Model.MediaItemCategory == MediaItemCategory.NonDigitalMedia)">Non Digital Media</option>
    </select>
</div>

@await Html.PartialAsync("_DigitalMediaCreate", Model)
@await Html.PartialAsync("_NonDigitalMediaCreate", Model)


@*
    // I partly stole this JS code from a page.
    // I analyzed it, understood it and customized it to fit my solution.
    // If show/hide the different fields depending on what selection is active.
*@

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("select").change(function () {
                $("select option:selected").each(function () {
                    if ($(this).attr("value") == "digitalMedia") {
                        $(".box").hide();
                        $(".digitalMedia").show();
                    }
                    if ($(this).attr("value") == "nonDigitalMedia") {
                        $(".box").hide();
                        $(".nonDigitalMedia").show();
                    }
                    if ($(this).attr("value") == "default") {
                        $(".box").hide();
                    }
                });
            }).change();
        });
    </script>
}