@model Library.Web.ViewModels.CreateLibraryItemViewModel

<div>
    <select>
        @*
            // I use a comparison in the "selected" to remain the choosen value after posting.
        *@
        <option value="default">Choose what type of item to create</option>
        <option value="book" selected="@(Model.SelectedType == "book")">Book</option>
        <option value="dvd" selected="@(Model.SelectedType == "dvd")">Dvd</option>
        <option value="audioBook" selected="@(Model.SelectedType == "audioBook")">Audio Book</option>
        <option value="referenceBook" selected="@(Model.SelectedType == "referenceBook")">Reference Book</option>
    </select>
</div>

@await Html.PartialAsync("_AudioBookCreate", Model)
@await Html.PartialAsync("_BookCreate", Model)
@await Html.PartialAsync("_DvdCreate", Model)
@await Html.PartialAsync("_ReferenceBookCreate", Model)


@*
    // I partly stole this JS code from a page.
    // I analyzed it, understood it and customized it to fit my solution.
    // If show/hide the different fields depending on what selection is active.
*@

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("select").change(function () {
                $("select option:selected").each(function () {
                    if ($(this).attr("value") == "book") {
                        $(".box").hide();
                        $(".book").show();
                    }
                    if ($(this).attr("value") == "dvd") {
                        $(".box").hide();
                        $(".dvd").show();
                    }
                    if ($(this).attr("value") == "audioBook") {
                        $(".box").hide();
                        $(".audioBook").show();
                    }
                    if ($(this).attr("value") == "referenceBook") {
                        $(".box").hide();
                        $(".referenceBook").show();
                    }
                    if ($(this).attr("value") == "default") {
                        $(".box").hide();
                    }
                });
            }).change();
        });
    </script>
}