<br />

<div class=text-center>
    <h1 class="display-6">Welcome to my interpretation of the Consid exercise</h1>
    <br />
    <br />
    <p>Click any of the links above to start the journey!</p>
</div>